@import "blocks/vars";

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-size: 17px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

// Imports
@import "blocks/container";
@import "blocks/intro";
@import "blocks/btn";
@import "blocks/advantages";
@import "blocks/works";
@import "blocks/offer";
@import "blocks/footer";
@import "blocks/copyright";