// Colors
$black: #1f1f24;
$red: #ff4e2e;
$gray: #8993ad;
$section-bg: #fbfbfb;

// Devices
$mobile-sm: "(max-width: 320px)";
$mobile-lg: "(max-width: 500px)";
$mobile-xl: "(max-width: 650px)";
$tablet: "(max-width: 768px)";
$laptop-sm: "(max-width: 950px)";
$laptop: "(max-width: 1024px)";
$large-screen: "(max-width: 1170px)";