/* line 3, ../sass/main.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 9, ../sass/main.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* line 13, ../sass/main.scss */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  font-size: 17px;
}

/* line 21, ../sass/main.scss */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 1, ../sass/blocks/_container.scss */
.container {
  width: 100%;
  max-width: 1330px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* line 1, ../sass/blocks/_intro.scss */
.intro {
  background-color: #fbfbfb;
}
/* line 4, ../sass/blocks/_intro.scss */
.intro .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
@media (max-width: 768px) {
  /* line 4, ../sass/blocks/_intro.scss */
  .intro .nav {
    justify-content: flex-end;
  }
}
/* line 14, ../sass/blocks/_intro.scss */
.intro .nav__links {
  display: flex;
}
@media (max-width: 768px) {
  /* line 14, ../sass/blocks/_intro.scss */
  .intro .nav__links {
    display: none;
  }
}
/* line 22, ../sass/blocks/_intro.scss */
.intro .nav__link {
  font-weight: 500;
  color: #1f1f24;
  text-decoration: none;
  transition: .2s linear color, .2s linear text-decoration;
}
/* line 30, ../sass/blocks/_intro.scss */
.intro .nav__link:hover {
  color: #ff4e2e;
  text-decoration: underline;
}
/* line 35, ../sass/blocks/_intro.scss */
.intro .nav__link + .nav__link {
  margin-left: 30px;
}
/* line 40, ../sass/blocks/_intro.scss */
.intro .nav__call {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
@media (max-width: 950px) {
  /* line 40, ../sass/blocks/_intro.scss */
  .intro .nav__call {
    margin-right: 0px;
  }
}
@media (max-width: 768px) {
  /* line 40, ../sass/blocks/_intro.scss */
  .intro .nav__call {
    display: none;
  }
}
/* line 54, ../sass/blocks/_intro.scss */
.intro .nav__number {
  margin-right: 30px;
  font-size: 25px;
  font-weight: 800;
}
@media (max-width: 950px) {
  /* line 54, ../sass/blocks/_intro.scss */
  .intro .nav__number {
    font-size: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  /* line 54, ../sass/blocks/_intro.scss */
  .intro .nav__number {
    display: none;
  }
}
/* line 69, ../sass/blocks/_intro.scss */
.intro .nav .burger-link {
  display: none;
}
@media (max-width: 768px) {
  /* line 69, ../sass/blocks/_intro.scss */
  .intro .nav .burger-link {
    display: block;
  }
}
/* line 77, ../sass/blocks/_intro.scss */
.intro .nav .burger {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
@media (max-width: 768px) {
  /* line 77, ../sass/blocks/_intro.scss */
  .intro .nav .burger {
    display: block;
  }
}
/* line 89, ../sass/blocks/_intro.scss */
.intro__content {
  padding: 130px 0 166px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 950px) {
  /* line 89, ../sass/blocks/_intro.scss */
  .intro__content {
    padding: 100px 0 150px;
  }
}
@media (max-width: 650px) {
  /* line 89, ../sass/blocks/_intro.scss */
  .intro__content {
    padding: 80px 0;
  }
}
@media (max-width: 500px) {
  /* line 89, ../sass/blocks/_intro.scss */
  .intro__content {
    padding: 350px 0 65px;
  }
}
@media (max-width: 500px) {
  /* line 109, ../sass/blocks/_intro.scss */
  .intro__data {
    text-align: center;
    margin: 0 auto;
  }
}
/* line 117, ../sass/blocks/_intro.scss */
.intro__title {
  font-size: 82px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 30px;
}
@media (max-width: 1170px) {
  /* line 117, ../sass/blocks/_intro.scss */
  .intro__title {
    font-size: 70px;
  }
}
@media (max-width: 1024px) {
  /* line 117, ../sass/blocks/_intro.scss */
  .intro__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (max-width: 950px) {
  /* line 117, ../sass/blocks/_intro.scss */
  .intro__title {
    font-size: 50px;
    line-height: 50px;
  }
}
@media (max-width: 768px) {
  /* line 117, ../sass/blocks/_intro.scss */
  .intro__title {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 650px) {
  /* line 117, ../sass/blocks/_intro.scss */
  .intro__title {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  /* line 117, ../sass/blocks/_intro.scss */
  .intro__title {
    font-size: 25px;
    margin-bottom: 15px;
  }
}
/* line 152, ../sass/blocks/_intro.scss */
.intro__subtitle {
  font-size: 26px;
  color: #8993ad;
  margin-bottom: 40px;
}
@media (max-width: 950px) {
  /* line 152, ../sass/blocks/_intro.scss */
  .intro__subtitle {
    font-size: 23px;
  }
}
@media (max-width: 768px) {
  /* line 152, ../sass/blocks/_intro.scss */
  .intro__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  /* line 152, ../sass/blocks/_intro.scss */
  .intro__subtitle {
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  /* line 152, ../sass/blocks/_intro.scss */
  .intro__subtitle {
    margin-bottom: 20px;
  }
}
/* line 174, ../sass/blocks/_intro.scss */
.intro__image {
  position: absolute;
  max-width: 514px;
  height: auto;
  right: -50px;
  bottom: 0px;
}
@media (max-width: 950px) {
  /* line 174, ../sass/blocks/_intro.scss */
  .intro__image {
    max-width: 450px;
  }
}
@media (max-width: 768px) {
  /* line 174, ../sass/blocks/_intro.scss */
  .intro__image {
    max-width: 400px;
  }
}
@media (max-width: 650px) {
  /* line 174, ../sass/blocks/_intro.scss */
  .intro__image {
    max-width: 335px;
  }
}
@media (max-width: 500px) {
  /* line 174, ../sass/blocks/_intro.scss */
  .intro__image {
    max-width: 300px;
    margin: 0 auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

/* line 1, ../sass/blocks/_btn.scss */
.btn {
  font-size: 16px;
  background: 0;
  padding: 13px 43px;
  color: #ff4e2e;
  border: 0;
  border: 1px solid #ff4e2e;
  cursor: pointer;
  transition: .2s linear background-color, .2s linear color;
}
/* line 13, ../sass/blocks/_btn.scss */
.btn:focus {
  outline: 0;
}
/* line 17, ../sass/blocks/_btn.scss */
.btn:hover {
  background-color: #ff4e2e;
  color: white;
}
/* line 22, ../sass/blocks/_btn.scss */
.btn--large {
  padding: 13px 63px;
}

/* line 1, ../sass/blocks/_advantages.scss */
.advantages {
  padding: 100px 0;
}
@media (max-width: 1024px) {
  /* line 1, ../sass/blocks/_advantages.scss */
  .advantages {
    padding: 70px 0;
  }
}
/* line 8, ../sass/blocks/_advantages.scss */
.advantages__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 14, ../sass/blocks/_advantages.scss */
.advantages__title {
  font-size: 51px;
  font-weight: 800;
  line-height: 40px;
}
@media (max-width: 950px) {
  /* line 14, ../sass/blocks/_advantages.scss */
  .advantages__title {
    font-size: 40px;
  }
}
@media (max-width: 650px) {
  /* line 14, ../sass/blocks/_advantages.scss */
  .advantages__title {
    font-size: 30px;
  }
}
/* line 28, ../sass/blocks/_advantages.scss */
.advantages__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 100px 0;
}
@media (max-width: 1024px) {
  /* line 28, ../sass/blocks/_advantages.scss */
  .advantages__content {
    padding: 70px 0;
  }
}
@media (max-width: 950px) {
  /* line 28, ../sass/blocks/_advantages.scss */
  .advantages__content {
    padding: 50px 0;
  }
}
/* line 44, ../sass/blocks/_advantages.scss */
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  text-align: center;
  padding: 0 33px;
}
@media (max-width: 650px) {
  /* line 44, ../sass/blocks/_advantages.scss */
  .advantages__item {
    width: 50%;
  }
  /* line 55, ../sass/blocks/_advantages.scss */
  .advantages__item:nth-child(1), .advantages__item:nth-child(2) {
    margin-bottom: 25px;
  }
}
@media (max-width: 500px) {
  /* line 44, ../sass/blocks/_advantages.scss */
  .advantages__item {
    padding: 0 10px;
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  /* line 44, ../sass/blocks/_advantages.scss */
  .advantages__item {
    width: 100%;
  }
  /* line 68, ../sass/blocks/_advantages.scss */
  .advantages__item:nth-child(3) {
    margin-bottom: 25px;
  }
}
/* line 74, ../sass/blocks/_advantages.scss */
.advantages__img {
  width: 80px;
  height: 73px;
  margin-bottom: 25px;
}
/* line 80, ../sass/blocks/_advantages.scss */
.advantages__text {
  color: #8993ad;
}

/* line 1, ../sass/blocks/_works.scss */
.works {
  padding: 100px 0;
  background-color: #fbfbfb;
}
@media (max-width: 1024px) {
  /* line 1, ../sass/blocks/_works.scss */
  .works {
    padding: 70px 0;
  }
}
/* line 9, ../sass/blocks/_works.scss */
.works__title {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  line-height: 40px;
}
@media (max-width: 950px) {
  /* line 9, ../sass/blocks/_works.scss */
  .works__title {
    font-size: 40px;
  }
}
@media (max-width: 650px) {
  /* line 9, ../sass/blocks/_works.scss */
  .works__title {
    font-size: 30px;
  }
}
/* line 24, ../sass/blocks/_works.scss */
.works__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 100px 0;
}
@media (max-width: 1024px) {
  /* line 24, ../sass/blocks/_works.scss */
  .works__content {
    padding: 40px 0 30px;
  }
}
/* line 36, ../sass/blocks/_works.scss */
.works__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3333%;
  padding: 0 15px;
}
/* line 43, ../sass/blocks/_works.scss */
.works__item a {
  text-decoration: none;
}
@media (max-width: 650px) {
  /* line 36, ../sass/blocks/_works.scss */
  .works__item {
    width: 100%;
  }
}
/* line 52, ../sass/blocks/_works.scss */
.works__img {
  max-width: 371px;
  height: auto;
  margin-bottom: 40px;
}
@media (max-width: 650px) {
  /* line 52, ../sass/blocks/_works.scss */
  .works__img {
    margin-bottom: 15px;
  }
}
/* line 62, ../sass/blocks/_works.scss */
.works__text {
  text-align: center;
  color: #8993ad;
  font-size: 20px;
}
@media (max-width: 650px) {
  /* line 62, ../sass/blocks/_works.scss */
  .works__text {
    margin-bottom: 40px;
  }
}
/* line 72, ../sass/blocks/_works.scss */
.works .btn {
  display: block;
  margin: 0 auto;
}

/* line 1, ../sass/blocks/_offer.scss */
.offer {
  padding: 85px 0;
  color: #fff;
  background-color: #ff4e2e;
}
@media (max-width: 768px) {
  /* line 1, ../sass/blocks/_offer.scss */
  .offer {
    padding: 50px 0;
  }
}
/* line 10, ../sass/blocks/_offer.scss */
.offer__inner {
  margin-left: 150px;
}
@media (max-width: 650px) {
  /* line 10, ../sass/blocks/_offer.scss */
  .offer__inner {
    margin-left: 0;
    text-align: center;
  }
}
/* line 19, ../sass/blocks/_offer.scss */
.offer__title {
  font-size: 50px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  /* line 19, ../sass/blocks/_offer.scss */
  .offer__title {
    font-size: 35px;
    margin-bottom: 20px;
  }
}
@media (max-width: 650px) {
  /* line 19, ../sass/blocks/_offer.scss */
  .offer__title {
    font-size: 25px;
  }
}
@media (max-width: 320px) {
  /* line 19, ../sass/blocks/_offer.scss */
  .offer__title {
    font-size: 18px;
  }
}
/* line 37, ../sass/blocks/_offer.scss */
.offer__subtitle {
  font-size: 20px;
  padding-right: 310px;
}
@media (max-width: 768px) {
  /* line 37, ../sass/blocks/_offer.scss */
  .offer__subtitle {
    font-size: 15px;
    padding-right: 250px;
  }
}
@media (max-width: 650px) {
  /* line 37, ../sass/blocks/_offer.scss */
  .offer__subtitle {
    padding-right: 0;
  }
}

/* line 1, ../sass/blocks/_footer.scss */
.footer {
  padding: 80px 0;
}
@media (max-width: 650px) {
  /* line 1, ../sass/blocks/_footer.scss */
  .footer {
    padding: 50px 0;
  }
}
/* line 8, ../sass/blocks/_footer.scss */
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 650px) {
  /* line 8, ../sass/blocks/_footer.scss */
  .footer__inner {
    justify-content: center;
  }
}
/* line 20, ../sass/blocks/_footer.scss */
.footer__links {
  display: flex;
  flex-direction: column;
}
@media (max-width: 650px) {
  /* line 20, ../sass/blocks/_footer.scss */
  .footer__links {
    margin-right: 10px;
  }
}
/* line 29, ../sass/blocks/_footer.scss */
.footer__link {
  font-weight: 500;
  color: #8993ad;
  text-decoration: none;
  transition: .2s linear color, .2s linear text-decoration;
}
/* line 37, ../sass/blocks/_footer.scss */
.footer__link:hover {
  color: #ff4e2e;
  text-decoration: underline;
}
/* line 42, ../sass/blocks/_footer.scss */
.footer__link + .footer__link {
  margin-top: 15px;
}
@media (max-width: 650px) {
  /* line 42, ../sass/blocks/_footer.scss */
  .footer__link + .footer__link {
    margin-top: 0;
  }
}
@media (max-width: 650px) {
  /* line 29, ../sass/blocks/_footer.scss */
  .footer__link {
    text-align: center;
    margin-bottom: 15px;
  }
}
/* line 57, ../sass/blocks/_footer.scss */
.footer__contacts {
  display: flex;
  flex-direction: column;
}
/* line 62, ../sass/blocks/_footer.scss */
.footer__contact {
  display: flex;
  align-items: center;
}
/* line 66, ../sass/blocks/_footer.scss */
.footer__contact + .footer__contact {
  margin-top: 30px;
}
@media (max-width: 650px) {
  /* line 66, ../sass/blocks/_footer.scss */
  .footer__contact + .footer__contact {
    margin: 20px 0;
  }
}
/* line 75, ../sass/blocks/_footer.scss */
.footer__icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
/* line 81, ../sass/blocks/_footer.scss */
.footer__data {
  color: #1f1f24;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 650px) {
  /* line 81, ../sass/blocks/_footer.scss */
  .footer__data {
    font-size: 20px;
  }
}
/* line 92, ../sass/blocks/_footer.scss */
.footer__social {
  display: flex;
  flex-direction: column;
}
/* line 96, ../sass/blocks/_footer.scss */
.footer__social-icons {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
@media (max-width: 650px) {
  /* line 96, ../sass/blocks/_footer.scss */
  .footer__social-icons {
    justify-content: center;
  }
}
/* line 105, ../sass/blocks/_footer.scss */
.footer__social-icons .vk {
  width: 30px;
  height: 30px;
  margin-right: 30px;
  fill: #8993ad;
  transition: .2s linear fill;
}
/* line 112, ../sass/blocks/_footer.scss */
.footer__social-icons .vk:hover {
  fill: #ff4e2e;
}
/* line 117, ../sass/blocks/_footer.scss */
.footer__social-icons .facebook {
  width: 30px;
  height: 30px;
  margin-right: 30px;
  fill: #8993ad;
  transition: .2s linear fill;
}
/* line 124, ../sass/blocks/_footer.scss */
.footer__social-icons .facebook:hover {
  fill: #ff4e2e;
}
/* line 129, ../sass/blocks/_footer.scss */
.footer__social-icons .twitter {
  width: 30px;
  height: 30px;
  margin-right: 30px;
  fill: #8993ad;
  transition: .2s linear fill;
}
/* line 136, ../sass/blocks/_footer.scss */
.footer__social-icons .twitter:hover {
  fill: #ff4e2e;
}
/* line 141, ../sass/blocks/_footer.scss */
.footer__social-icons .insta {
  width: 30px;
  height: 30px;
  fill: #8993ad;
  transition: .2s linear fill;
}
/* line 147, ../sass/blocks/_footer.scss */
.footer__social-icons .insta:hover {
  fill: #ff4e2e;
}

/* line 1, ../sass/blocks/_copyright.scss */
.copyright {
  padding: 30px 0;
  background-color: #31293c;
  color: #fff;
  display: flex;
  justify-content: center;
}
